body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
}

#flex-container{
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#game-cont{
	position: relative;
	width: 500px;
	height: 500px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#game-cont.shake{
	animation: shake .2s ease-in-out 2; 
}

@keyframes shake{
	0%{margin-left:-10px;}
	25%{margin-left:0;}
	50%{margin-left:10px;}
	100%{margin-left:0;}
}

#pads-cont{
	position: relative;
	z-index: 1;
	width: 450px;
	height: 450px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid lightgray;
	background-color: #CCCEDF;
	-webkit-transition: all 2.5s linear;
	transition: all 0.5s linear;
	box-shadow: 0 0 8px gray;
}

#pads-cont.spin{
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite ease-in linear;
}

@keyframes spin{
	0%{
		-ms-transform: rotate(0);
		-moz-transform: rotate(0);
	    -webkit-transform: rotate(0);
	    transform: rotate(0);
	}
	100%{
	    -moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

.pad{
	position: relative;
	width: 49%;
	height: 49%;
	box-shadow: 0 0 8px gray;
}

.blink{
	animation: blink 0.5s ease-in-out; 
}

@keyframes blink{
	0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

#blue{
	background-color: #7CBDFF;
}

#red{
	background-color: #FF9A90;
}

#yellow{
	background-color: #FEF58C;
}

#green{
	background-color: #D9EB7F;
}

#controller{
	position: absolute;
	z-index: 2;
	width: 240px;
	height: 240px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	border-radius: 50%;
	border: 8px solid #CCCEDF;
	left: calc(50% - 128px);
	top: calc(50% - 128px);
	padding: 0;
	box-shadow: 0 0 8px gray;
	background-color: aliceblue;
	background-color: rgba(240, 248, 255, 0.85);
	opacity: .98;
}

#level-cont-label{
	margin: 15px 0 0 0;
	padding: 0;
	color: #A0A2A2;
}

#levels-cont{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.level-btn{
	width: 20px;
	height: 10px;
	border: 2px solid #CCCEDF;
}

.level-btn.clicked{
	background-color: #8AA1FE;
}

#strict-btn{
	width: 50px;
	height: 15px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding: 2px;
	border-radius: 2px;
	border: 3px solid #CCCEDF;
	color: #A0A2A2;
}

#strict-btn.clicked{
	color: white;
	background-color: #8AA1FE;
}

#display{
	width: 50px;
	height: 50px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 1.2em;
	color: white;
	background-color: #8AA1FE;
}

#display.flicker{
	animation: flicker .5s infinite;
}

@keyframes flicker{
	0%{color: red;}
	100%{color: transparent;}
}

#start-cont{
	width: 100px;
	height: 50px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

#start{
	position: relative;
	width: 80%;
	height: 70%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
	border-radius: 8px;
	font-size: 1.3em;
	color: white;
	border: 3px solid #CCCEDF;
	background-color: #8AA1FE;
}

#start.pulse{
	animation: pulse .75s ease-in-out alternate infinite;
}

@keyframes pulse{
	0%{    	background-color: #8AA1FE;}
	25%{   	background-color: #8AA1FE;}
	100%{   background-color: #b0bffc;}
}

#ripple{
	position: absolute;
	z-index: -1;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
	margin: 0 auto;
	border: 1px solid #89aefe;
}

#ripple.expand{
	animation: expand 0.25s ease-in-out;
}

@keyframes expand{
	0%{transform: scale(1); opacity: 0;}
	50%{opacity: .5}
	100%{transform: scale(9); opacity: 0;}
}



